.course-card {
    width: 13rem;
    height: 16rem;
    position: relative;
}

.course-card .card-footer-custom {
    position: absolute;
    bottom: 8%;
    left: 0;
    width: 100%;
}

.card-footer-custom hr {
    width: 90%;
    margin: auto;
}

.selected {
    background-color:rgba(0, 136, 0, 0.3);
    border: 1px solid rgb(0, 98, 0);
}

.unselectable {
    background-color:rgba(136, 0, 0, 0.3);
    border: 1px solid rgb(98, 0, 0);
}